# App specific
add-products/build/
change-pass/build/
disabled-product/build/
forgot-pass/build/
get-associated-tenants/build
get-category-product/build/
get-cp/build/
get-markets/build/
get-markets-register/build/
get-products/build/
login/build/
register-user/build/
update-products/build/
get-products-by-category-product/build